<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../images/browser_icon.png" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Portfolio van Stein Bergervoet</title>
  </head>
  <body>
    <header>
      <a id="name" href="index.html">STEIN <br />BERGERVOET</a>
      <nav id="page_links">
        <ul>
          <li>
            <a href="index.html#projecten">Projecten</a>
          </li>
          <li id="over_mij_link">
            <a href="index.html#over_mij">Over mij</a>
          </li>
          <li>
            <a href="index.html#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <nav id="social_links">
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/stein-bergervoet-4a1160203/"
              target="_blank"
            >
              <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/Steinberg99" target="_blank">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div id="hamburger">
        <div>
          <i class="fas fa-bars fa-2x"></i>
        </div>
      </div>
    </header>
    <section id="project">
      <p class="section_info">
        Een website waarmee gebruikers een portje tegen elkaar kunnen schaken
      </p>
      <h2>
        <span class="underline">Multiplayer chess (WIP)&nbsp;</span>
      </h2>
      <ul id="project_info">
        <li>
          <p>
            Een website waarmee twee gebruikers een potje tegen elkaar kunnen
            schaken. Dit project is momenteel nog work in progress. Voor dit
            project heb ik een aantal features van de applicatie uitgewerkt
            namelijk het liken, disliken, matchen met andere honden en het
            chatten met andere gebruikers. In de huidige implementatie kunnen de
            gebruikers al tegen elkaar spelen, maar zonder enige extra features.
          </p>
          <ul id="project_links">
            <li>
              <a href="https://github.com/Steinberg99/chess" target="_blank"
                >Bekijk de code</a
              >
            </li>
          </ul>
        </li>
        <li>
          <img src="../images/chess-2.png" alt="Chess project." />
        </li>
      </ul>
    </section>
    <footer id="project_footer">
      <ul>
        <li>
          <strong> Stein Bergervoet </strong>
        </li>
        <li>
          <a href="mailto:stein.bergervoet@gmail.com"
            >stein.bergervoet@gmail.com</a
          >
        </li>
        <li><strong>06</strong>-24473592</li>
        <li id="footer_social_link">
          <a
            href="https://www.linkedin.com/in/stein-bergervoet-4a1160203/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in fa-2x"></i>
          </a>
        </li>
      </ul>
    </footer>
    <script
      src="https://kit.fontawesome.com/ec6942f279.js"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/index.js"></script>
  </body>
</html>
