<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../images/browser_icon.png" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Portfolio van Stein Bergervoet</title>
  </head>
  <body>
    <header>
      <a id="name" href="index.html">STEIN <br />BERGERVOET</a>
      <nav id="page_links">
        <ul>
          <li>
            <a href="index.html#projecten">Projecten</a>
          </li>
          <li id="over_mij_link">
            <a href="index.html#over_mij">Over mij</a>
          </li>
          <li>
            <a href="index.html#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <nav id="social_links">
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/stein-bergervoet-4a1160203/"
              target="_blank"
            >
              <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/Steinberg99" target="_blank">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div id="hamburger">
        <div>
          <i class="fas fa-bars fa-2x"></i>
        </div>
      </div>
    </header>
    <section id="project">
      <p class="section_info">
        Een digitale datavisualisatie die de temperatuurstijging in Nederland
        weergeeft
      </p>
      <h2>
        <span class="underline">Temperatuur in de Bilt&nbsp;</span>
      </h2>
      <ul id="project_info">
        <li>
          <p>
            Voor het derdejaarsvak frontend applications heb ik in een
            tijdspanne van twee weken de volgende website geproduceerd. We
            kregen de opdracht om met behulp van React en D3.js een applicatie
            te maken die in staat is om dynamisch data te visualiseren.
          </p>
          <p id="bottom_text">
            Ik heb er voor gekozen om gemiddelde maandtemperaturen per eeuw in
            De Bilt te visualiseren. Met behulp van deze visualisatie wilde ik
            graag de volgende vraag beantwoorden: Is de opwarming van de aarde
            terug te zien in metingen afkomstig uit Nederland?
            <strong>NOTE* De website werkt alleen op desktop formaten. </strong>
          </p>
          <ul id="project_links">
            <li>
              <a
                href="https://frontend-applications-kappa.vercel.app/"
                target="_blank"
                >Bekijk de website</a
              >
            </li>
            <li>
              <a
                href="https://github.com/Steinberg99/frontend-applications"
                target="_blank"
                >Bekijk de code</a
              >
            </li>
          </ul>
        </li>
        <li>
          <img
            src="../images/datavis.png"
            alt="Temperatuur in de Bilt project."
          />
        </li>
        <li>
          <img
            src="../images/datavis-2.png"
            alt="Temperatuur in de Bilt project."
          />
        </li>
      </ul>
    </section>
    <footer id="project_footer">
      <ul>
        <li>
          <strong> Stein Bergervoet </strong>
        </li>
        <li>
          <a href="mailto:stein.bergervoet@gmail.com"
            >stein.bergervoet@gmail.com</a
          >
        </li>
        <li><strong>06</strong>-24473592</li>
        <li id="footer_social_link">
          <a
            href="https://www.linkedin.com/in/stein-bergervoet-4a1160203/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in fa-2x"></i>
          </a>
        </li>
      </ul>
    </footer>
    <script
      src="https://kit.fontawesome.com/ec6942f279.js"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/index.js"></script>
  </body>
</html>
