<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../images/browser_icon.png" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Portfolio van Stein Bergervoet</title>
  </head>
  <body>
    <header>
      <a id="name" href="index.html">STEIN <br />BERGERVOET</a>
      <nav id="page_links">
        <ul>
          <li>
            <a href="index.html#projecten">Projecten</a>
          </li>
          <li id="over_mij_link">
            <a href="index.html#over_mij">Over mij</a>
          </li>
          <li>
            <a href="index.html#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <nav id="social_links">
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/stein-bergervoet-4a1160203/"
              target="_blank"
            >
              <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/Steinberg99" target="_blank">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div id="hamburger">
        <div>
          <i class="fas fa-bars fa-2x"></i>
        </div>
      </div>
    </header>
    <section id="project">
      <p class="section_info">
        Een dummy website voor het vinden van mobiele providers
      </p>
      <h2>
        <span class="underline"
          >Nederlandse providers voor internationale studenten&nbsp;</span
        >
      </h2>
      <ul id="project_info">
        <li>
          <p>
            Voor een project uit het eerste jaar moest ik een deel van het
            international student guide Amsterdam boekje digitaliseren. Uit een
            reeks interviews bleek dat internationale studenten moeite hadden
            met het afsluiten van mobiele abonnementen in Nederland, vandaar dat
            ik hier mijn focus heb gelegd.
          </p>
          <p id="bottom_text">
            Mijn onderzoek heeft uiteindelijk geleid tot het volgende prototype.
            Het gaat hier om een dummy mobiele website waarmee gebruikers
            mobiele abonnementen mee zouden kunnen afsluiten.
            <strong>NOTE* De website werkt alleen op mobiele formaten. </strong>
          </p>
          <ul id="project_links">
            <li>
              <a href="https://steinberg99.github.io/ISGA/" target="_blank"
                >Bekijk de website</a
              >
            </li>
            <li>
              <a href="https://github.com/Steinberg99/ISGA" target="_blank"
                >Bekijk de code</a
              >
            </li>
          </ul>
        </li>
        <li>
          <img
            src="../images/providers.jpg"
            alt="Image van mijn Pokédex website."
          />
        </li>

        <li>
          <img
            src="../images/providers-2.png"
            alt="Image van mijn Pokédex website."
          />
        </li>
      </ul>
    </section>
    <footer id="project_footer">
      <ul>
        <li>
          <strong> Stein Bergervoet </strong>
        </li>
        <li>
          <a href="mailto:stein.bergervoet@gmail.com"
            >stein.bergervoet@gmail.com</a
          >
        </li>
        <li><strong>06</strong>-24473592</li>
        <li id="footer_social_link">
          <a
            href="https://www.linkedin.com/in/stein-bergervoet-4a1160203/"
            target="_blank"
          >
            <i class="fab fa-linkedin-in fa-2x"></i>
          </a>
        </li>
      </ul>
    </footer>
    <script
      src="https://kit.fontawesome.com/ec6942f279.js"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/index.js"></script>
  </body>
</html>
