* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

main {
  position: relative;
  width: 100%;
}

/*
    De styles voor de header.
*/

header {
  display: flex;
  justify-content: space-between;

  padding: 2.5em 2.5em 0 2.5em;
}

header nav ul {
  display: flex;
}

#name {
  padding: 0.25em 0.5em;
  background: black;
  color: white;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border: 3px solid black;
}

#name:hover {
  background: white;
  color: black;
  border: 3px solid black;
}

#social_links li,
#footer_social_link,
#hamburger {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3em;
  height: 3em;
}

#social_links li:nth-of-type(1) {
  border: 3px solid #e49600;
}

#social_links li:nth-of-type(1):hover {
  background: #e49600;
}

#social_links li:nth-of-type(1) i {
  color: #e49600;
}

#social_links li:nth-of-type(2) {
  border: 3px solid #86c5da;
  margin: 0 1.5em;
}

#social_links li:nth-of-type(2):hover {
  background: #86c5da;
}

#social_links li:nth-of-type(2) i {
  color: #86c5da;
}

#social_links li:nth-of-type(3) {
  border: 3px solid #cc2b36;
}

#social_links li:nth-of-type(3):hover {
  background: #cc2b36;
}

#social_links li:nth-of-type(3) i {
  color: #cc2b36;
}

#social_links li:hover i {
  color: white;
}

#social_links li a,
#footer_social_link a,
#hamburger div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#hamburger div {
  border: 3px solid black;
}

#page_links li {
  margin: 0 0.75em;
  padding: 0.25em 0.5em;
  color: black;
  font-weight: 500;
  border: 3px solid black;
}

#page_links li a {
  color: black;
  text-decoration: none;
}

#page_links li:hover {
  background: black;
  cursor: pointer;
}

#page_links li:hover a {
  color: white;
}

#hamburger {
  display: none;
}

/* 
    De styles voor de header op de homepage.
*/

section h1 {
  margin: 0 auto 2em auto;
  font-size: 2em;
  font-weight: 500;
  max-width: 35em;
}

section h1 span:nth-of-type(1) {
  background-image: linear-gradient(#cc2b36, #cc2b36);
}

section h1 span:nth-of-type(2) {
  background-image: linear-gradient(#e49600, #e49600);
}

section h1 span:nth-of-type(3) {
  background-image: linear-gradient(#86c5da, #86c5da);
}

.underline {
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 85%;
  font-weight: 700;
}

#intro {
  padding-bottom: 6em;
  min-height: 86.8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#intro a {
  margin: 0 auto 0 auto;
  padding: 0.25em 0.5em;
  color: white;
  background: #cc2b36;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  border: 3px solid #cc2b36;
}

#intro a:hover {
  color: #cc2b36;
  background: white;
}

/* 
  De styles voor de projecten, over_mij en contact section.
*/

#project,
#projecten,
#over_mij,
#contact {
  padding-top: 3em;
  margin: 6em auto 0 auto;
  width: 70em;
  border-top: 5px solid black;
}

#project h2,
#projecten h2,
#over_mij h2,
#contact h2 {
  padding: 0.125em 0 0.25em 0;
  font-size: 2em;
}

.section_info {
  text-transform: uppercase;
  font-weight: 600;
}

/* 
  De styles voor de alleen de projecten section.  
*/

#projecten h2 span {
  background-image: linear-gradient(#e49600, #e49600);
}

#projecten ul {
  padding-top: 1em;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}

#projecten ul li {
  padding: 1em;
  border: 3px solid black;
}

#last_item {
  grid-column: 2;
}

#projecten ul li img {
  margin-bottom: 0.5em;
  width: 100%;
  height: auto;
  border: 3px solid black;
}

#projecten ul li div {
  position: relative;
}

#projecten ul li div p {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  position: absolute;
  top: calc(50% - 1em);
}

#projecten ul .tags {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  padding: 0;
}

#projecten ul .tags li {
  padding: 0 0.25em;
  border: 3px solid black;
}

#projecten ul li h3 {
  font-size: 1.5em;
}

#projecten ul li p strong {
  color: #cc2b36;
}

#projecten ul li a {
  color: black;
  text-decoration: none;
}

#projecten ul li:hover {
  color: white;
  background: black;
  cursor: pointer;
}

#projecten ul li:hover .tags li {
  border: 3px solid white;
  color: white;
}

#projecten ul li:hover a {
  color: white;
}

#projecten ul li:hover img {
  border: 3px solid white;
}

/*
  De styles voor de project pagina
*/

#project h2 span {
  background-image: linear-gradient(#cc2b36, #cc2b36);
}

#project p {
  margin-bottom: 1em;
}

#project p strong {
}

#project a {
  color: black;
  padding: 0.25em 0.5em;
  border: 3px solid black;
}

#project a:hover {
  color: white;
  background: black;
}

#project #pokeapi_link_project {
  color: #e49600;
  border: none;
  padding: 0;
}

#project #pokeapi_link_project:hover {
  background: white;
}

#project ul {
  padding-top: 1em;
  display: grid;
  gap: 3em;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 3em;
}

#project ul#project_links {
  padding: 0;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#project img {
  width: 100%;
  vertical-align: top;
  border: 3px black solid;
}

#project_footer {
  border-top: 5px black solid;
  width: 70em;
  margin: 0 auto;
}

/* 
  De styles voor de over_mij section.
*/

#over_mij h2 span {
  background-image: linear-gradient(#86c5da, #86c5da);
}

#contact p {
  width: 50%;
}

#over_mij p#bottom_text {
  margin-top: 1em;
}

#over_mij ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

#over_mij ul li img {
  width: 100%;
  border: 3px solid black;
  vertical-align: top;
}

#over_mij a#cv_link {
  color: #cc2b36;
}

/* 
  De styles voor de contact section.
*/

#contact h2 span {
  background-image: linear-gradient(#e49600, #e49600);
}

#mail_link {
  color: #86c5da;
}

#linkedin_link {
  color: #cc2b36;
}

/* 
  De styles voor de footer. 
*/

footer ul {
  padding: 1.5em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer ul li {
  margin: 1.5em 2em;
}

footer ul li a {
  color: black;
  padding: 0.25em 0.5em;
  border: 3px solid black;
}

footer ul li a:hover {
  color: white;
  background: black;
}

#footer_social_link {
  border: 3px solid black;
}

#footer_social_link a {
  border: none;
}

#footer_social_link:hover {
  background: black;
}

#footer_social_link:hover a {
  color: white;
}

/*
  Up for improvement.
*/

#pokeapi_link {
  color: #cc2b36 !important;
  text-decoration: underline !important;
}

#disclaimer_blue {
  color: #86c5da !important;
}

@media (max-width: 1250px) {
  #project,
  #project_footer,
  #projecten,
  #over_mij,
  #contact {
    width: 50em;
  }

  #project ul {
    grid-template-columns: 1fr;
  }

  #project p#bottom_text {
    margin: 0;
  }

  section h1 {
    width: 25em;
  }

  #contact p {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  header {
    flex-wrap: wrap;
  }

  #page_links {
    display: none;
  }

  #social_links {
    display: none;
  }

  #hamburger {
    display: block;
  }

  #hamburger.clicked {
    color: white;
    background: black;
  }

  #page_links.extended {
    display: block;
    order: 2;
    width: 100%;
  }

  #page_links.extended ul {
    flex-direction: column;
    margin: 1.5em 0 0.5em 0;
  }

  #page_links.extended ul li {
    display: inline-flex;
    margin: 0;
  }

  #page_links.extended ul li a {
    width: 100%;
    text-align: center;
  }

  #page_links.extended ul #over_mij_link {
    margin: 0.75em 0;
  }

  #social_links.extended {
    display: block;
    order: 2;
    width: 100%;
  }

  #social_links.extended ul {
    margin-top: 1em;
    justify-content: center;
  }

  #project p,
  #over_mij p {
    width: 100%;
  }
}

@media (max-width: 850px) {
  #project,
  #project_footer,
  #projecten,
  #over_mij,
  #contact {
    width: 30em;
  }

  #projecten ul,
  #over_mij ul {
    grid-template-columns: 1fr;
  }

  section h1 {
    width: 20em;
    font-size: 1.5em;
  }

  #name {
    font-size: 1.5em;
  }

  footer {
    width: 30em;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  #project,
  #project_footer,
  #projecten,
  #over_mij,
  #contact,
  footer,
  header {
    width: 90%;
  }

  header {
    padding-top: 5%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  #projecten ul {
    grid-template-columns: 1fr;
  }

  section h1 {
    width: 90%;
    font-size: 1.25em;
  }

  #name {
    font-size: 1.25em;
  }

  #projecten ul li div p {
    font-size: 1.5em;
  }
}

@media (max-width: 320px) {
  header {
    margin-bottom: 2em;
  }

  #intro a {
    font-size: 1em;
  }

  #name {
    font-size: 1em;
  }
}
